@* messageArea *@

<div class="text-center">
	<div class="form-group">
		<label for="textScanResult">Scan Result</label>
		<input type="text" id="textScanResult" name="textScanResult" value="" />
	</div>
	<div class="form-group">
		<button type="button" id="startScanButton">Scan</button>
	</div>
	<div class="form-group">
		<video id="scanPreviewArea"></video>
	</div>
</div>
